.col-md-12>.container>.col-md-12>.col-md-3>img{
	max-width: 100%;
}
.col-md-12>.container>.col-md-12>.col-md-7 h3{
	font-weight: bold;
}
.col-md-12>.container>.col-md-12>.col-md-7{
	color: #665344;
}
.col-md-12>.container>.col-md-12>.col-md-7>.col-md-12>p:last-child{
	margin-left: 1em;
}
.bdshare-button-style0-24:first-child::before{
	content: "分享：";
	float: left;
	height: 36px;
    line-height: 36px;
}
/*友言评论框设置*/
#uyan_top{
	display: none;
}
#uyan_frame{
	margin-top: 10px;
}